.TopBarContainer {
  background-color: #115c07;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.TopBarContainer2 {
  width: 95%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.TopBarRightSide {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.TopBarDropDownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #115c07;
  padding-bottom: 20px;
  transition: all ease 0.3s;
}

#dropDownMenuIcon:hover {
  cursor: pointer;
}

.TopBarLeftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}
