.MainControlBar {
  padding-top: 20px;
  max-width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

.MainControlBarContainer {
  min-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.MainControlBarContainer > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo {
  min-width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #115c07;
}

.SearchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin-left: 30px;
}

.Regional {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 2px;
}

.Regional > span {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif;
  margin-right: 7px;
}

.devider2 {
  width: 1px;
  height: 1rem;
  background-color: rgb(207, 207, 207);
}

.Regional > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Regional > div > span {
  color: black;
  font-size: 11px;
  font-family: "Maven Pro", sans-serif;
  padding-left: 7px;
  padding-right: 7px;
}

.Regional > div > span {
  cursor: pointer;
}

.Buttons {
  min-width: 350px;
  max-width: 450px;
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
