.HeyMunchen {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.HeyMunchenContainer {
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#HeyMunchenHeader {
  max-width: 700px;
  width: 100%;
}

#Van {
  max-width: 1100px;
  padding: 30px;
  padding-top: 50px;
  width: 100%;
}

#HeyMunchenText {
  max-width: 700px;
  width: 100%;
}

.HeyMunchenContainer > span {
  font-family: "Maven Pro", sans-serif;
  color: #115c07;
  font-size: 28px;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
