.DiscountBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.DiscbountBarContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.DiscbountBarContainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.DiscbountBarContainer > div:hover {
  cursor: pointer;
}

.DiscbountBarContainer > div > span {
  font-size: 18px;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif;
}

.DiscbountBarContainer > div > div > span {
  font-size: 18px;
  color: #115c07;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif;
}

.DiscbountBarContainer > div > img {
  padding-right: 10px;
}

.DiscbountBarContainer > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.DiscbountBarContainer > div > div > div {
  background-color: #115c07;
  width: 100%;
  height: 3px;
}
