:root {
  --dark-green: #115c07;
  --dark-green-filter: brightness(0) saturate(100%) invert(20%) sepia(68%)
    saturate(2052%) hue-rotate(83deg) brightness(97%) contrast(94%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-green);
  border-radius: 1em;
  border: 0.2vw solid white;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: clamp(8px, 1.2vw, 15px);
}

body {
  margin: 0;
  font-family: "Maven Pro", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
